<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body bgcolor="green">

    <hr />
    <h4>Siva  Pragya  Vanshika   Kavana</h4>
    <hr />
    @RenderBody()
</body>
</html>
