
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1> IBM JUNE 2023 BATCH</h1>
<h2>I AM WORKING WITH MVC </h2>

<asp:Label runat="server" Text="Label"></asp:Label>
<asp:TextBox runat="server"></asp:TextBox>

<asp:Label runat="server" Text="Label"></asp:Label>
<asp:TextBox runat="server"></asp:TextBox>


<asp:Button runat="server" Text="Button"></asp:Button>