
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>layoutdemo</title>
</head>
<body>
    <div> 
        this layout demo page is not referring std layout of MVC appln
    </div>
</body>
</html>
